<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>To Do List</h1>
    @{
      if(Model != null)
      {
        <h2>Task: @Model["task"].GetDescription() - Completed: @Model["task"].GetCompleted() - DueDate: @Model["task"].GetDueDate().ToString("MM/dd/yyyy")</h2>
        <hr />
        <form action='/tasks/@Model["task"].GetId()' method="post">
          <label for='description'>Update name</label>
          <input type="text" id="description" name="description" value="@Model["task"].GetDescription()">
          <label for='task-done'>Task Complete?</label>
          <select id='task-done' name='task-done' type='text'>
            @{
              if(Model["task"].GetCompleted() == true)
              {
                <option value='true' selected='selected'>true</option>
                <option value='false'>false</option>
              }
              else
              {
                <option value='true'>true</option>
                <option value='false' selected='selected'>false</option>
              }
            }
          </select>
          <label for='duedate'>Update due date</label>
          <input type="date" id="duedate" name="duedate" value="@Model["task"].GetDueDate().ToString("MM/dd/yyyy")">
          <button type="submit" name="button">Update</button>
        </form>
        <hr />
        @if (@Model["taskCategories"].Count != 0)
        {
          <h4>This task has these categories:</h4>
          <ul>
            @foreach (var category in @Model["taskCategories"])
            {
              <li>@category.GetName()</li>
            }
          </ul>
        }
      }
    }
    <h4>Add a category to this task:</h4>
    <form action='/task/add_category' method='post'>
      <input id='task-id' name='task-id' type='hidden' value='@Model["task"].GetId()'>
      <label for='category-id'>Select a category</label>
      <select id='category-id' name='category-id' type='text'>
        @foreach (var category in @Model["allCategories"])
        {
          <option value='@category.GetId()'>@category.GetName()</option>
        }
      </select>
      <button type='submit'>Add</button>
    </form>
    <p><a href="/">Return to Main Page</a></p>
  </body>
</html>
